$color-blue-dark-1: #003135;
$color-blue-dark-2: #024950;
$color-blue-light-1: #afdde5;

$color-orange-light-1: #964734;

$color-cyan-normal-1: #0fa4af;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-size: 1.6rem;
}

.main {
}

.tasks {
}

.taskbox {
}

.task {
}

.sidebar {
}
