doctype html 
html 
    block head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='/css/style.css')
        title Taskify | #{title}
        script(src="/js/bundle.js" defer)


    body 
        include _header  

        block content 
            h1 This is placeholder heading
            
