<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/public/css/style.css" />
        <title>Taskify | Log In</title>
    </head>
    <body>
        <div class="login">
            <form method="post" action="#" class="form">
                <h1 class="heading-primary form__title">Log In</h1>
                <div class="form__field-box">
                    <input type="email" class="form__field form__email" name="email" placeholder="Email" />
                    <div class="form__icon"><img src="/public/images/devImages/email.svg" alt="icon" /></div>
                </div>
                <div class="form__field-box">
                    <input type="password" name="password" placeholder="Passswod" class="form__field form__password" />
                    <div class="form__icon"><img src="/public/images/devImages/lock.svg" alt="icon" /></div>
                </div>
                <button class="btn btn--login form__btn">Log In</button>
            </form>
        </div>
    </body>
</html>
