<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Overview</title>
        <link rel="stylesheet" href="/public/css/style.css" />
    </head>
    <body>
        <main class="overview">
            <div class="task-manager">
                <h1 class="heading-primary task-manager__heading">Task Manager</h1>

                <div class="task-manager__container">
                    <div class="taskbox">
                        <div class="taskbox__name">
                            Task Segment - 11/16/2024
                            <img class="taskbox__icon" src="/public/images/devImages/arrowr.svg" alt="Arrow Right" />
                        </div>
                    </div>
                    <div class="taskbox">
                        <div class="taskbox__name">
                            Task Segment - 11/16/2024
                            <img class="taskbox__icon" src="/public/images/devImages/arrowr.svg" alt="Arrow Right" />
                        </div>
                    </div>
                    <div class="taskbox">
                        <div class="taskbox__name">
                            Task Segment - 11/16/2024
                            <img class="taskbox__icon" src="/public/images/devImages/arrowr.svg" alt="Arrow Right" />
                        </div>
                    </div>
                    <div class="taskbox">
                        <div class="taskbox__name">
                            Task Segment - 11/16/2024
                            <img class="taskbox__icon" src="/public/images/devImages/arrowr.svg" alt="Arrow Right" />
                        </div>
                    </div>
                    <div class="taskbox">
                        <div class="taskbox__name">
                            Task Segment - 11/16/2024
                            <img class="taskbox__icon" src="/public/images/devImages/arrowr.svg" alt="Arrow Right" />
                        </div>
                    </div>
                    <div class="taskbox">
                        <div class="taskbox__name">
                            Task Segment - 11/16/2024
                            <img class="taskbox__icon" src="/public/images/devImages/arrowr.svg" alt="Arrow Right" />
                        </div>
                    </div>
                    <div class="taskbox">
                        <div class="taskbox__name">
                            Task Segment - 11/16/2024
                            <img class="taskbox__icon" src="/public/images/devImages/arrowr.svg" alt="Arrow Right" />
                        </div>
                    </div>
                    <div class="taskbox">
                        <div class="taskbox__name">
                            Task Segment - 11/16/2024
                            <img class="taskbox__icon" src="/public/images/devImages/arrowr.svg" alt="Arrow Right" />
                        </div>
                    </div>
                    <div class="taskbox">
                        <div class="taskbox__name">
                            Task Segment - 11/16/2024
                            <img class="taskbox__icon" src="/public/images/devImages/arrowr.svg" alt="Arrow Right" />
                        </div>
                    </div>
                    <div class="taskbox">
                        <div class="taskbox__name">
                            Task Segment - 11/16/2024
                            <img class="taskbox__icon" src="/public/images/devImages/arrowr.svg" alt="Arrow Right" />
                        </div>
                    </div>
                    <div class="taskbox">
                        <div class="taskbox__name">
                            Task Segment - 11/16/2024
                            <img class="taskbox__icon" src="/public/images/devImages/arrowr.svg" alt="Arrow Right" />
                        </div>
                    </div>
                    <div class="taskbox">
                        <div class="taskbox__name">
                            Task Segment - 11/16/2024
                            <img class="taskbox__icon" src="/public/images/devImages/arrowr.svg" alt="Arrow Right" />
                        </div>
                    </div>
                    <div class="taskbox">
                        <div class="taskbox__name">
                            Task Segment - 11/16/2024
                            <img class="taskbox__icon" src="/public/images/devImages/arrowr.svg" alt="Arrow Right" />
                        </div>
                    </div>
                    <div class="taskbox">
                        <div class="taskbox__name">
                            Task Segment - 11/16/2024
                            <img class="taskbox__icon" src="/public/images/devImages/arrowr.svg" alt="Arrow Right" />
                        </div>
                    </div>
                    <div class="taskbox">
                        <div class="taskbox__name">
                            Task Segment - 11/16/2024
                            <img class="taskbox__icon" src="/public/images/devImages/arrowr.svg" alt="Arrow Right" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="tasks">
                <div class="taskbox__header">
                    <h1 class="heading-primary taskbox__name-1">Task Segment - 11/16/2024</h1>

                    <div class="taskbox__options">
                        <img src="/public/images/devImages/penpaper.svg" alt="Edit Image" />
                        <img src="/public/images/devImages/trashbin.svg" alt="Delete Image" />
                    </div>
                </div>

                <div class="tasks__container">
                    <div class="task">
                        <div class="task__content">
                            Take a shit (india accent) Take a shit (india accent) Take a shit (india accent) Take a shit
                            (india accent) Take a shit (india accent)
                        </div>
                        <div class="task__button">
                            <input type="checkbox" class="task__checkbox" />
                        </div>
                    </div>
                </div>

                <div class="tasks__add-container">
                    <input type="text" class="tasks__add-input" placeholder="Write a Task..." />
                    <div class="tasks__add-icon">
                        <img src="/public/images/devImages/plus.svg" alt="Add Icon" />
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
