<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/public/css/style.css" />
        <title>Taskify | Sign Up</title>
    </head>
    <body>
        <div class="signup">
            <form method="post" action="#" class="form">
                <h1 class="heading-primary form__title">Sign Up</h1>
                <div class="form__field-box">
                    <input type="text" class="form__field form__name" name="name" placeholder="Username" />
                    <div class="form__icon"><img src="/public/images/devImages/user.svg" alt="icon" /></div>
                </div>
                <div class="form__field-box">
                    <input type="email" class="form__field form__email" name="email" placeholder="Email" />
                    <div class="form__icon"><img src="/public/images/devImages/email.svg" alt="icon" /></div>
                </div>
                <div class="form__field-box">
                    <input type="password" name="password" placeholder="Passswod" class="form__field form__password" />
                    <div class="form__icon"><img src="/public/images/devImages/lock.svg" alt="icon" /></div>
                </div>
                <div class="form__field-box">
                    <input
                        type="password"
                        name="passwordConfirm"
                        placeholder="Confirm Password"
                        class="form__field form__password"
                    />
                    <div class="form__icon"><img src="/public/images/devImages/lock-confirm.svg" alt="icon" /></div>
                </div>
                <button class="btn btn--login form__btn">Sign Up</button>
            </form>
        </div>
    </body>
</html>
