.taskbox {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    max-width: 55rem;
    padding: 2.5rem 0;
    border-bottom: 1px solid rgba($color-white, 0.2);

    &__name {
        max-width: 50rem;

        font-size: 2.4rem;
        font-weight: 100;
        color: $color-white;

        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: transform 0.3s, opacity 0.3s;
        cursor: pointer;

        &:hover {
            transform: translateX(1rem);
            opacity: 0.5;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        border-bottom: 2px solid rgba($color-white, 0.47);
        padding-bottom: 2rem;
        margin-bottom: 2rem;
    }

    &__name-1 {
        font-weight: 100;
    }

    &__icon {
    }

    &__options {
        margin-right: 0.5rem;
        display: flex;
        gap: 1rem;

        & img {
            cursor: pointer;
            transition: opacity 0.3s;

            &:hover {
                opacity: 0.5;
            }
        }
    }

    &--active {
        transform: translateX(1rem);
        opacity: 0.5;
    }
}
