.taskbox {
	display: flex;
	flex-direction: column;
	gap: 2.4rem;

	width: 100%;
	padding: 2.5rem 0;
	border-bottom: 1px solid rgba($color-white, 0.2);

	&__name {
		width: 100%;

		font-size: 2.4rem;
		font-weight: 100;
		color: $color-white;

		display: flex;
		align-items: center;
		justify-content: space-between;
		transition: transform 0.3s, opacity 0.3s;
		cursor: pointer;

		&:hover {
			transform: translateX(1rem);
			opacity: 0.5;
		}
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		border-bottom: 2px solid rgba($color-white, 0.47);
		padding-bottom: 2rem;
		margin-bottom: 2rem;

		position: relative;
	}

	&__name-1 {
		font-weight: 100;
	}

	&__icon {
	}

	&__options {
		margin-right: 0.5rem;

		display: flex;
		align-items: center;
		gap: 1rem;

		& img {
			cursor: pointer;
			transition: opacity 0.3s;

			&:hover {
				opacity: 0.5;
			}
		}
	}

	&--active {
		transform: translateX(1rem);
		opacity: 0.5;
	}

	&__edit {
		width: 80%;
		position: relative;

		&-input {
			width: 100%;
			border: 1px solid rgba($color-white, 0.47);
			border-radius: 15rem;
			padding: 2rem 3rem;
			font-size: 2rem;
			background-color: transparent;
			outline: none;
			color: $color-white;

			&:focus {
				outline: 2px solid $color-white;
			}
		}

		&-input-icon {
			position: absolute;
			top: 47%;
			right: 0;
			transform: translate(-50%, -45%);
			cursor: pointer;
			transition: opacity 0.3s;

			&:hover {
				opacity: 0.5;
			}
		}
	}
}
